@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

.ant-layout-header {
  background: #fff;
}

.home-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

.deleted-record-row {
  color: rgba(0,0,0,.25);
  font-style: unset;
}

.sequence {
  font-family: courier, sans-serif;
  width: 80%;
  word-break: break-all;
  span.a {
      color: green;
  }
  span.c {
      color: blue;
  }
  span.t {
      color: red;
  }
  span.g {
      color: black;
  }

}

.dwc-column {
  vertical-align: top
}